<div class="w-full mx-auto">
  <!-- MOBILE FLICKITY SLIDER -->
  <div class="mobile-container">
    <div class="flickity-mobile-carousel">
      {% for block in section.blocks %}
        <a href="{{ block.settings.button_link }}" class="block w-full mr-4">
          <div class="relative overflow-hidden rounded-lg">
            <img
              src="{{ block.settings.card_image | image_url }}"
              alt="{{ block.settings.button_text }}"
              class="w-full h-auto transition-transform duration-5000 hover:scale-110 object-cover"
            >
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

  <!-- DESKTOP FLEX GRID -->
  <div class="desktop-container">
    <div class="flex flex-wrap">
      {% for block in section.blocks %}
        <a href="{{ block.settings.button_link }}" class="w-full sm:w-1/2 lg:w-1/3">
          <div class="relative overflow-hidden">
            <img
              src="{{ block.settings.card_image | image_url }}"
              alt="{{ block.settings.button_text }}"
              class="w-full h-auto transition-transform duration-5000 hover:scale-110 object-cover"
            >
            {% if block.settings.button_text != blank and block.settings.button_link %}
              <button
                class="absolute cursor-pointer bottom-10 left-10 text-white border border-white px-[22px] py-[10px] w-fit h-fit"
              >
                {{ block.settings.button_text }}
              </button>
            {% endif %}
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  .desktop-container {
    display: none;
  }

  .mobile-container {
    display: block;
  }

  /* Show desktop version on screen wider than 768px */
  @media (min-width: 768px) {
    .desktop-container {
      display: block;
    }

    .mobile-container {
      display: none;
    }
  }
</style>
{% comment %}
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
{% endcomment %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    if (window.innerWidth < 1024) {
      var elem = document.querySelector('.flickity-mobile-carousel');
      if (elem) {
        new Flickity(elem, {
          {% comment %} cellAlign: 'left', {% endcomment %}
          contain: true,
          wrapAround: true,
          pageDots: true,
          prevNextButtons: false,
          pauseAutoPlayOnHover: false
        });
      }
    }
  });
</script>
{% schema %}
{
  "name": "Collection Grid+carousel",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#fbfaf7"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        { "type": "image_picker", "id": "card_image", "label": "Card Image" },

        { "type": "text", "id": "button_text", "label": "Button Text", "default": "Learn More" },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Grid+carousel",
      "blocks": [{ "type": "card" }, { "type": "card" }, { "type": "card" }]
    }
  ]
}
{% endschema %}
